{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Showing People</h1>

    {% if messages.length %}
    <div class='alert alert-success'>
      {{ messages }}
    </div>
    {% endif %}

    <table class='table'>
      <tr>
        <th><strong>Name</strong></th>
        <th><strong>Hobby</strong></th>
      </tr>
      {% for person in people %}
        <tr>
          <td>{{ person.name }}</td>
          <td>{{ person.hobby }}</td>
        </tr>
      {% endfor %}
    </table>

  </div>

{% endblock %}
